.app {
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.app__wrapper {
  flex: 100%;
  display: flex;
  flex-direction: column;
  background: url('@images/background.png') no-repeat 0 0 / cover fixed;
}
